<template>
  <div class="mx-auto max-w-lg">
    <div class="" v-if="route != '/'">
      <div class="mx-4 mb-2">
        <nuxt-link to="/"
        tag="button"
          class="bg-purple-400 hover:bg-purple-500 focus:ring-2 focus:outline-none focus:ring-purple-400 focus:ring-opacity-70 rounded-md p-2 mx-auto text-white min-w-full">
          Back to home</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>