<template>
  <div class="font-sans p-6 max-w-lg mx-auto m-4 bg-white rounded-xl shadow-md items-center space-x-4">
    <div class="mx-auto content-center" style="position: relative">
      <div class="text-xl text-blue-400">Inzidenzwert {{ locationName }}</div>
      <p class="text-gray-500 text-sm font-extralight">Aktuell: {{ lastIncidence }}</p>
      <canvas :id="agsNumber" :itemid="location"></canvas>
      <p class="text-gray-300 text-sm font-extralight">Last update: {{ lastUpdate }}</p>
    </div>
</div>
</template>

<script>
/* eslint-disable no-unused-vars */
/* eslint-disable array-element-newline */
import Chart from 'chart.js/auto'
import moment from 'moment'

export default {
  props: {
    locationName: String,
    incidences: Array,
    ags: Number
  },
  data () {
    return {
      location: this.locationName,
      incidenceData: this.incidences,
      agsNumber: this.ags,
      lastUpdate: '',
      lastIncidence: ''
    }
  },
  mounted () {
    this.createCanvas()
  },
  methods: {
    createCanvas () {
      // Get ID of canvas container
      var ctx = document.getElementById(this.agsNumber);

      let dates = []
      let incidence = []
      // split data from incidencedata into their own arrays, works as they are sorted in index.vue
      this.incidenceData.forEach((e) => {
        dates.push(e.date)
        incidence.push(e.incidence)
      })

       // take the last date for last update
      this.lastUpdate = moment.parseZone(dates[dates.length -1]).format('DD.MM. HH:mm')

      // take the last incidence for current incidence value
      this.lastIncidence = incidence[incidence.length -1]

      dates.forEach(function(part, index, theArray) {
        theArray[index] = moment.parseZone(theArray[index]).format("DD.MM.")
      });

     
      const ch = new Chart(ctx, {
        type: 'line',
        responsive: true,
        options: {
          plugins: {
            legend: {
              display: false,
              position: 'bottom'
            }
          }
        },
        data: {
          labels: dates,
          datasets: [{
            label: this.location,
            data: incidence,
            fill: true,
            borderColor: 'rgb(96, 165, 250)',
            backgroundColor: 'rgba(96, 165, 250, 0.08)',
            tension: 0.04
          }]
        }
      })
      ch.update()
    }
  }
}
</script>

<style>

</style>
