<template>
  <div class="mx-auto text-center text-gray-300 text-sm text-extralight py-3 max-w-lg">
    <back-to-home v-show="route" />
    <p class="text-gray-300 text-sm text-extralight">Data provided by <a href="http://rki.de">RKI</a></p>
    <p>made with<span class="text-red-500"> ❤ </span>by alxndr13</p>
  </div>
</template>

<script>
import BackToHome from './BackToHome.vue'
export default {
  components: { BackToHome },
  computed: {
    route: function () {
      if (this.$route.path == '/') {
        return false
      } 
      return true
    }
  }
}
</script>

<style>

</style>
