<template>
  <div class="text-center">
    <div v-if=emptyResponse>
      <p class="text-xl text-gray-500 font-sans py-3">Loading..</p>
    </div>
    <div v-else>
      <div v-for="(inc, index) in incidences" :key="index" >
        <Counter :locationName=inc.locationName :incidences=inc.incidences :lastUpdate=inc.lastUpdate :ags=Number(inc.ags) />
      </div>
    </div>
  </div>
</template>

<script>
import Counter from '~/components/Counter.vue'
import { locationUrl, apiUrl } from '~/globals/globals.js'

export default {
  data () {
    return {
      incidences: [],
      lastUpdate: "",
      cities: [
        '08212', // SK Karlsruhe
        '08222', // SK Mannheim
        '08221', // SK Heidelberg
        '07314', // SK Ludwigshafen
        '08216' // SK Rastatt
      ],
      emptyResponse: true
    }
  },
  components: {
    Counter,
  },
  mounted () {
    this.getIncidences()
  },
  methods: {
    getIncidences () {
      this.cities.forEach((city) => {
        this.$axios.get(apiUrl + city).then((response) => {
          if (!response.data.ags) {
            return
          }
          this.emptyResponse = false
          const buffer = {}
          buffer.locationName = response.data.locationName
          buffer.ags = response.data.ags
          buffer.incidences = response.data.incidences
          this.incidences.push(buffer)
        }).catch((error) => {
          console.log(error)
        })
      })
      console.log(this.incidences);
    }
  }
}
</script>

<style>

</style>