<template>
  <div class="text-center max-w-lg mx-auto">
    <div class="m-4">
      <nuxt-link class="p-2 mx-auto bg-blue-400 hover:bg-blue-500 focus:ring-2 focus:outline-none focus:ring-blue-400 focus:ring-opacity-70 rounded-md text-white min-w-full" tag="button"
        to="/dashboard">Access the preconfigured
        dashboard</nuxt-link>
    </div>
    <div class="m-4">
      <nuxt-link class="bg-green-400 hover:bg-green-500 focus:ring-2 focus:outline-none focus:ring-green-400 focus:ring-opacity-70 rounded-md p-2 mx-auto text-white min-w-full" tag="button"
        to="/search">
        Search for a specific location
      </nuxt-link>
    </div>
  </div>
</template>

<script>

</script>

<style>

</style>