<template>
  <div id="searchdiv" class="mx-auto max-w-lg text-center">
    <ClientOnly> // to mitigate https://ssr.vuejs.org/guide/hydration.html
    <p class="text-md text-gray-500 font-sans">Search for a specific location</p>
    <div id="searchselect" class="m-4">
      <select name="locations" id="locations" @change="getIncidences($event)"
      class="p-2 min-w-full bg-white rounded-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300 text-gray-500">
      <option class="text-gray-500" v-for="(loc, index) in locationNames" :key="index">{{ loc }}</option>
    </select>
    </div>
    <div v-if="canvasEnabled" class="transition duration-200 ease-in-out">
      <Counter :locationName=incidenceData.locationName :incidences=incidenceData.incidences
        :ags=Number(incidenceData.ags) />
    </div>
    </ClientOnly>
  </div>
</template>

<script>
import Counter from '~/components/Counter'
import { locationUrl, apiUrl } from '~/globals/globals.js'

export default {
  data() {
    return {
      // Holds the response from the api
      locationAgsData: [],
      // Contains a list of only locationNames -> for the dropdown
      locationNames: ['loading..'],
      // Data we want to provide the Counter Component
      incidenceData: {},
      // Conditionally render the canvas
      canvasEnabled: false
    }
  },
  components: {
    Counter
  },
  mounted() {
    this.$axios.get(locationUrl).then((resp) => {
      this.locationAgsData = resp.data
      this.locationNames = []
      this.locationAgsData.forEach((element) => {
        this.locationNames.push(element.locationName)
      })
      this.locationNames.sort()
    })
  },
  methods: {
    getIncidences(event) {
      this.canvasEnabled = false
      // Map location to asg and ask the api afterwards for data
      let agsElement = this.locationAgsData.filter(element => element.locationName === event.target.value);
      this.$axios.get(apiUrl + agsElement[0].ags).then((response) => {
        if (!response.data.ags) {
          return
        }
        const buffer = {}
        buffer.locationName = response.data.locationName
        buffer.ags = response.data.ags
        buffer.incidences = response.data.incidences
        this.incidenceData = buffer
        console.log(buffer)
        console.log(this.incidenceData)
        this.canvasEnabled = true
      }).catch((error) => {
        console.log(error)
      })
      
    }
  }
}
</script>

<style>

</style>